<div class="container">
    <div class="team-description" id="about-us">
        <h2><i class="fas fa-users"></i> Sobre Nosotros</h2>
        <div class="about-us-content">
            <img src="images/logo/laRaskinaTeam.webp" alt="La Raskina Team Logo" class="about-us-logo">
            <p>Forjados en el fragor de innumerables batallas virtuales, "La Raskina Pura" es más que un equipo; somos una hermandad. Nacimos de la pasión compartida por los videojuegos y hemos crecido hasta convertirnos en una fuerza a tener en cuenta en la comunidad. Cada miembro aporta un talento único, pero es nuestra unidad y estrategia lo que nos define. Competimos no solo para ganar, sino para superarnos a nosotros mismos y disfrutar del viaje juntos. Bienvenidos a nuestro rincón del universo gamer.</p>
        </div>
    </div>
</div>