<div class="container">
    <h2 id="announcements"><i class="fas fa-bullhorn"></i> Anuncios del Equipo</h2>
    <div class="announcement-grid">
        <div class="announcement-card">
            <h3>¡Nuevo Canal de YouTube!</h3>
            <p class="announcement-date">15 de Julio, 2025</p>
            <p>¡Suscríbete a nuestro canal de YouTube, <a href="https://www.youtube.com/@LaRaskinaPura" target="_blank">LaRaskinaPura</a>, para ver nuestros mejores momentos, tutoriales y más!</p>
        </div>
        <div class="announcement-card">
            <h3>¡Síguenos en Instagram!</h3>
            <p class="announcement-date">15 de Julio, 2025</p>
            <p>¡Ahora también estamos en Instagram! Síguenos como <a href="https://www.instagram.com/laraskinapura" target="_blank">LaRaskinaPura</a> para no perderte ninguna de nuestras actualizaciones y contenido exclusivo.</p>
        </div>
        <div class="announcement-card">
            <h3>¡Nuevo Canal de Twitch!</h3>
            <p class="announcement-date">15 de Julio, 2025</p>
            <p>¡Síguenos en nuestro nuevo canal de Twitch, <a href="https://www.twitch.tv/laraskinapura" target="_blank">LaRaskinaPura</a>, para ver nuestras partidas en vivo y contenido exclusivo!</p>
        </div>
        <div class="announcement-card">
            <h3>¡Nuevo Canal de Discord!</h3>
            <p class="announcement-date">12 de Julio, 2025</p>
            <p>Hemos creado un nuevo canal en Discord para discutir estrategias y compartir experiencias. ¡Únete y comparte tus ideas! <a href="https://discord.gg/dhr3AFgc" target="_blank">aquí</a>.</p>
        </div>
        <div class="announcement-card">
            <h3>Sesión de Mecha Break</h3>
            <p class="announcement-date">12 de Julio, 2025</p>
            <p>Este fin de semana, estaremos probando el nuevo Mecha Break. ¡Prepárense para la acción! Nos sumergiremos en batallas épicas con los últimos mechas, explorando nuevas estrategias y dominando el campo de batalla. ¡No te lo pierdas y únete a la diversión!</p>
        </div>
        <div class="announcement-card">
            <h3>Reclutamiento Abierto</h3>
            <p class="announcement-date">12 de Julio, 2025</p>
            <p>Estamos buscando nuevos miembros para unirse a La Raskina Pura. Si te gustan los juegos en equipo y el buen ambiente, ¡únete a nuestro <a href="https://discord.gg/dhr3AFgc" target="_blank">Discord</a> y preséntate en el canal #reclutamiento Si tienes alguna duda, puedes enviar un mensaje directo a `theLineBeginsToBlur`.</p>
        </div>
        <div class="announcement-card">
            <h3>Atención! Nuclear Launch Detected!!!</h3>
            <p class="announcement-date">10 de Julio, 2025</p>
            <p>Se llama a toda La Raskina Pura que se conecten hoy en la noche tipo 21:00 hrs. Habrá derrotas masivas, ganchos a los minions, ultis fallados por montones
                y por sobre todo un olor a mierda impresionante. Ya saben, los esperamos en el canal de Discord para dejar la the real kga.
            </p>
        </div>
        <div class="announcement-card">
            <h3>¡Bienvenidos a La Raskina Pura!</h3>
            <p class="announcement-date">10 de Julio, 2025</p>
            <p>Estamos emocionados de lanzar nuestra nueva página web. Aquí encontrarán toda la información sobre el equipo, nuestros jugadores y los juegos que disfrutamos.</p>
        </div>
    </div>
    <div class="announcement-controls">
        <button id="show-more-announcements">Mostrar más</button>
        <button id="show-all-announcements">Mostrar todos</button>
    </div>
</div>
