<div class="container">
    <h2 id="games"><i class="fas fa-gamepad"></i> Los Juegos</h2>
    <div class="game-grid">
        <div class="game-card">
            <img src="images/games/dayByDeadLight.webp" alt="Day By Deadlight">
            <h3>Day By Deadlight</h3>
        </div>
        <div class="game-card">
            <img src="images/games/dyingLight.webp" alt="Dying Light">
            <h3>Dying Light</h3>
        </div>
        <div class="game-card">
            <img src="images/games/enlisted.webp" alt="Enlisted">
            <h3>Enlisted</h3>
        </div>
        <div class="game-card">
            <img src="images/games/leagueOfLegends.webp" alt="League Of Legends">
            <h3>League Of Legends</h3>
        </div>
        <div class="game-card">
            <img src="images/games/left4Dead2.webp" alt="Left 4 Dead 2">
            <h3>Left 4 Dead 2</h3>
        </div>
        <div class="game-card">
            <img src="images/games/marvelRivals.webp" alt="Marvel Rivals">
            <h3>Marvel Rivals</h3>
        </div>
        <div class="game-card">
            <img src="images/games/mechaBreak.webp" alt="Mecha Break">
            <h3>Mecha Break</h3>
        </div>
        <div class="game-card">
            <img src="images/games/monsterHunterWorld.webp" alt="Monster Hunter World">
            <h3>Monster Hunter World</h3>
        </div>
        <div class="game-card">
            <img src="images/games/sonsOfTheForest.webp" alt="Sons Of The Forest">
            <h3>Sons Of The Forest</h3>
        </div>
        <div class="game-card">
            <img src="images/games/hearthstone.webp" alt="Hearthstone">
            <h3>Hearthstone</h3>
        </div>
        <div class="game-card">
            <img src="images/games/phantasyStarBlueBurst.webp" alt="Phantasy Star Blue Burst">
            <h3>Phantasy Star Blue Burst</h3>
        </div>
        <div class="game-card">
            <img src="images/games/worldOfWarcraft.webp" alt="World Of Warcraft">
            <h3>World Of Warcraft</h3>
        </div>
    </div>
</div>