<header>
    <div class="banner">
        <div class="banner-content">
            <img src="images/logo/laRaskinaPura.webp" alt="La Raskina Pura Banner" class="banner-image">
            <!-- Consider optimizing images (e.g., WebP, compression) for better performance. -->
            <div class="banner-text">
                <h1 id="main-title">La Raskina Pura</h1>
                <img src="images/logo/simio.webp" alt="Simio Logo" class="simio-logo">
            </div>
        </div>
    </div>
</header>