<header role="banner">
    <div class="banner">
        <video autoplay muted loop playsinline class="banner-video" aria-label="La Raskina Pura Banner Video">
            <source src="video/banner/laRaskinaPuraBanner.mp4?v=1721145600" type="video/mp4">
        </video>
        <div class="banner-content">
            <img src="images/logo/laRaskinaPura.webp" alt="La Raskina Pura Banner" class="banner-image" loading="lazy">
            <h1 id="main-title">La Raskina Pura <img src="images/logo/laRaskinaPuraRightLogo.webp" alt="La Raskina Pura Right Logo" class="simio-logo" loading="lazy"></h1>
        </div>
    </div>
</header>