<nav class="navbar">
    <div class="navbar-content">
        <img src="images/logo/laRaskinaPura.webp" alt="La Raskina Pura Logo" class="navbar-logo">
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="nav-links">
            <a href="#about-us" class="nav-link">Sobre Nosotros</a>
            <a href="#announcements" class="nav-link">Anuncios del Equipo</a>
            <a href="#players" class="nav-link">Los Jugadores</a>
            <a href="#games" class="nav-link">Los Juegos</a>
            <a href="#discord" class="nav-link">Discord</a>
        </div>
    </div>
</nav>