<nav class="navbar" role="navigation" aria-label="Main navigation">
    <div class="navbar-content">
        <img src="images/logo/laRaskinaPura.webp" alt="La Raskina Pura Logo" class="navbar-logo">
        <button class="menu-toggle" aria-label="Toggle navigation menu">
            <i class="fas fa-bars"></i>
        </button>
        <div class="nav-links">
            <a href="#about-us-heading" class="nav-link">Sobre Nosotros</a>
            <a href="#announcements-heading" class="nav-link">Anuncios del Equipo</a>
            <a href="#players-heading" class="nav-link">Los Jugadores</a>
            <a href="#games-heading" class="nav-link">Los Juegos</a>
            <a href="#streaming-heading" class="nav-link">Streaming</a>
            <a href="#community-heading" class="nav-link">Comunidad</a>
        </div>
    </div>
</nav>