<div class="container" role="region" aria-labelledby="streaming-heading">
    <h2 id="streaming-heading"><i class="fas fa-video"></i> Streaming</h2>
    <div class="streaming-container">
        <iframe
            src="https://player.twitch.tv/?channel=laraskinapura&parent=laraskinapura.com&parent=www.laraskinapura.com&parent=localhost"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            width="100%"
            height="400"
            title="Twitch Stream of La Raskina Pura">
        </iframe>
    </div>
</div>
